#mouse-over-effect:hover{
    background: pink;
}
#mouse-over-effect2:hover{
    border: 3px solid;
    border-color: rgb(128, 128, 210);
}
#mouse-over-effect3:hover{
    background: rgb(166, 207, 234);
}